<EditForm Model="newNote" OnValidSubmit="OnSubmit">
        
    <span> Private <InputCheckbox @bind-Value="@newNote.Private"/> </span>
    <br/>
    <span> Notes <InputTextArea @bind-Value="@newNote.Note" /></span>
    <br/>
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter] public Action Thing {get; set;}
    private NotesDTO newNote = new NotesDTO();
    private void OnSubmit() {
        newNote.Created = DateTime.Now;
        newNote.LectureID = 1;
        Database.Notes.Add(newNote);
        newNote = new NotesDTO();
        Thing.Invoke();
    }
}